pandas
numpy
scikit-learn==1.4.2
scipy
streamlit
folium
streamlit-folium
plotly
openpyxl
matplotlib
shap
umap-learn
tableone
fpdf2
kaleido
networkx
statsmodels
imbalanced-learn==0.12.2
seaborn
google-generativeai